﻿@model DbFirst.Models.Northwind.UmlDiagram

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UmlDiagram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrawData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrawData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiagramId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
