﻿@model DbFirst.Models.DiagramEditDrawViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>UmlDiagram</h4>

<hr />

<form asp-controller="UmlDiagrams" asp-action="mytry" method="post">
    <div id="DiagramEditorWithMenu" style="width:100%; height:100%">
        <div id="UmlEditorForm" style="width:100%; float:left">
            <table style="width:100%; height:100%">
                <tr valign="top">
                    <td style="width:20%">
                        <div class="form-group" id="DiagramDrawModeForm">
                            <label class="control-label">Draw Mode</label>
                            @Html.RadioButton("DrawMode", "Node")  Nodes
                            @Html.RadioButton("DrawMode", "Owl")  Dependencies
                        </div>
                    </td>
                    <td style="width:80%">
                        <div class="form-group" id="NodeModeForm" style="display:none">
                            <label class="control-label">Option Mode</label>
                            @Html.RadioButton("NodeDrawMode", "Activity", new { @checked = true })  Activity
                            @Html.RadioButton("NodeDrawMode", "Role")  Role
                            @Html.RadioButton("NodeDrawMode", "Alternative")  Alternative
                        </div>


                        <div class="form-group" id="OwlModeForm" style="display:none">
                            <label class="control-label">Option Mode</label>
                            @Html.RadioButton("OwlDrawMode", "Follows", new { @checked = true })  Follows
                            @Html.RadioButton("OwlDrawMode", "Precedes")  Precedes
                            @Html.RadioButton("OwlDrawMode", "Decides")  Decides
                            @Html.RadioButton("OwlDrawMode", "IsFollowedBy")  Is Followed by
                            @Html.RadioButton("OwlDrawMode", "IsPrecededBy")  Is Preceded by
                            @Html.RadioButton("OwlDrawMode", "IsDecidedBy")  Is Decided by}
                        </div>

                    </td>
                </tr>
                <tr>

                    <td style="width:20%;height:100%" valign="top">
                        <table style="width:100%;height:100%">
                            <tr>
                                <td>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="umlDiagram.DiagramId" />

                                    <div id="NodeModeSection">
                                        <div class="form-group" id="ActivitySelectListForm">
                                            <label asp-for="owlRules.Activities" class="control-label"></label>
                                            @Html.DropDownList("ActivitySelectList", new SelectList(Model.owlRules.Activities), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group" id="RoleSelectListForm">
                                            <label asp-for="owlRules.Roles" class="control-label"></label>
                                            @Html.DropDownList("RoleSelectList", new SelectList(Model.owlRules.Roles), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group" id="AlternativeSelectListForm">
                                            <label asp-for="owlRules.Alternatives" class="control-label"></label>
                                            @Html.DropDownList("AlternativeSelectList", new SelectList(Model.owlRules.Alternatives), new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div id="OwlModeSection">
                                        <div class="form-group" id="FollowsSelectListForm">
                                            <label asp-for="owlRules.Follows" class="control-label"></label>
                                            @Html.DropDownList("FollowsSelectList", new SelectList(Model.owlRules.Follows), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group" id="IsFollowedBySelectListForm">
                                            <label asp-for="owlRules.IsFollowedBy" class="control-label"></label>
                                            @Html.DropDownList("IsFollowedBySelectList", new SelectList(Model.owlRules.IsFollowedBy), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group" id="PrecedesSelectListForm">
                                            <label asp-for="owlRules.Precedes" class="control-label"></label>
                                            @Html.DropDownList("PrecedesSelectList", new SelectList(Model.owlRules.Precedes), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group" id="IsPrecededBySelectListForm">
                                            <label asp-for="owlRules.IsPrecededBy" class="control-label"></label>
                                            @Html.DropDownList("IsPrecededBySelectList", new SelectList(Model.owlRules.IsPrecededBy), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group" id="DecidesSelectListForm">
                                            <label asp-for="owlRules.Decides" class="control-label"></label>
                                            @Html.DropDownList("DecidesSelectList", new SelectList(Model.owlRules.Decides), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group" id="IsDecidedBySelectListForm">
                                            <label asp-for="owlRules.IsDecidedBy" class="control-label"></label>
                                            @Html.DropDownList("IsDecidedBySelectList", new SelectList(Model.owlRules.IsDecidedBy), new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="umlDiagram.Name" class="control-label"></label>
                                        <input asp-for="umlDiagram.Name" class="form-control" />
                                        <span asp-validation-for="umlDiagram.Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="umlDiagram.ModelId" class="control-label"></label>
                                        <select asp-for="umlDiagram.ModelId" class="form-control" asp-items="ViewBag.ModelId" style="width:100%"> </select>
                                        <span asp-validation-for="umlDiagram.ModelId" class="text-danger"></span>
                                    </div>


                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:calc(100% - 10px); height:100%; float:right" valign="top">
                        <div id="ActivityDiagram" class="ActivityDiagram" style="height:100%; min-height:600px" />
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <textarea readonly style="width:100%;height:50vh;font-family:'Microsoft JhengHei UI';resize:none" id="DrawDataDiagramModel" asp-for="umlDiagram.DrawData"> </textarea>
        </div>

        <div id="NavigationToBackMenu" style="width:100%">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">myTry</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<environment include="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.7.8/go-debug.js"></script>
    <script src="~/js/UmlDiagramModeler.js"></script>
    <script>
        var drawDataString = document.getElementById("DrawDataDiagramModel").textContent;

        var EDrawingMode = {
            Activity: "Activity",
            Alternative: "Alternative",
            Role: "Role",
            Follow: "Follow",
            Precedes: "Precedes"
        };

        var currentSelectListName = "";
        var currentDrawingMode = EDrawingMode.Activity;
        var currentDrawingKey = "";

        diagram_edit.drawDataDiagram = drawDataString;
        //diagram_edit.LoadDrawData();
        //diagram_edit.AddNewNode();

        DiagramDrawModeForm.onclick = function () {
            var radios = document.getElementsByName('DrawMode');
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    var form = document.getElementById(radios[i].value + 'ModeForm');
                    var section = document.getElementById(radios[i].value + 'ModeSection');

                    document.getElementById('OwlModeForm').style.display = "none";
                    document.getElementById('OwlModeSection').style.display = "none";      
                    document.getElementById('NodeModeForm').style.display = "none";  
                    document.getElementById('NodeModeSection').style.display = "none";  
                    
                    form.style.display = "inline";
                    section.style.display = "inline";
                    break;
                }
            }
        }

        NodeModeForm.onclick = function () {
            var radios = document.getElementsByName('NodeDrawMode');
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    var showList = document.getElementById(radios[i].value + 'SelectListForm');

                    document.getElementById('ActivitySelectListForm').style.display = "none";
                    document.getElementById('AlternativeSelectListForm').style.display = "none";
                    document.getElementById('RoleSelectListForm').style.display = "none";

                    showList.style.display = "inline";
                    SetCurrentDrawingMode(radios[i].value);
                    currentSelectListName = radios[i].value;
                    break;
                }
            }
        }

        OwlModeForm.onclick = function () {
            var radios = document.getElementsByName('OwlDrawMode');
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    var showList = document.getElementById(radios[i].value + 'SelectListForm');

                    document.getElementById('FollowsSelectListForm').style.display = "none";
                    document.getElementById('IsFollowedBySelectListForm').style.display = "none";
                    document.getElementById('PrecedesSelectListForm').style.display = "none";
                    document.getElementById('IsPrecededBySelectListForm').style.display = "none";
                    document.getElementById('DecidesSelectListForm').style.display = "none";
                    document.getElementById('IsDecidedBySelectListForm').style.display = "none";

                    showList.style.display = "inline";
                    SetCurrentDrawingMode(radios[i].value);
                    currentSelectListName = radios[i].value;
                    break;
                }
            }
        }

        function SetCurrentDrawingMode(mode) {
            switch (mode) {
                case 'Activity':
                    currentDrawingMode = EDrawingMode.Activity;
                    break;
                case 'Role':
                    currentDrawingMode = EDrawingMode.Role;
                    break;
                case 'Alternative':
                    currentDrawingMode = EDrawingMode.Alternative;
                    break;
                case 'Follows':
                    currentDrawingMode = EDrawingMode.Follow;
                    break;     
                case 'Precedes':
                    currentDrawingMode = EDrawingMode.Precedes;
                    break; 
                case 'IsFollewdBy':
                    currentDrawingMode = EDrawingMode.Precedes;
                    break; 
                case 'IsPrecededBy':
                    currentDrawingMode = EDrawingMode.Follow;
                    break; 
            }            
        }

        function GetCurrentDrawKey() {            
            var e = document.getElementById(currentSelectListName + 'SelectList');
            return e.options[e.selectedIndex].value;            
        }

        function GetCurrentDrawMode() {
            return currentDrawingMode;            
        }

        DiagramDrawModeForm.click();

    </script>
</environment>