﻿@model DbFirst.Models.PetriNetModel

@{
    ViewData["Title"] = "Index";
}

<h2>Comapration</h2>

<h4>PetriNet</h4>

<div class="row">
    <form asp-action="Compare">
        <div class="form-group">
            <script>
                function ShowData() {
                    var file = document.getElementById('fileUpload').files[0];
                    if (file) {
                        var reader = new FileReader();
                        reader.readAsText(file, "UTF-8");
                        PetriNetRawData.textContent = reader.result;
                    }
                };
            </script>
            <input type="file" id="fileUpload" onchange="ShowData()" class="btn btn-default" accept=".pnml" />
        </div>
        <div class="form-group">
            <textarea style="width:100%;height:50vh;font-family:'Microsoft JhengHei UI';resize:none" asp-for="RawData" id="PetriNetRawData"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Compare" class="btn btn-default" />
        </div>
    </form>
</div>
