﻿@model DbFirst.Models.Northwind.OwlModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>OwlModel</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="width:100%">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="max-width:300px; width:100%">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <script>
                    function ShowData() {
                        //get file object
                        var file = document.getElementById('fileUpload').files[0];
                        if (file) {
                            // create reader
                            var reader = new FileReader();
                            reader.readAsText(file);
                            reader.onload = function (e) {
                                ModelDataOwl.textContent = e.target.result;
                                ModelDefaultData.textContent = e.target.result;
                            };
                            const formatter = new JSONFormatter(ModelDefaultData.textContent);
                            document.body.appendChild(formatter.render());
                        }
                    };
                </script>
                <input type="file" id="fileUpload" onchange="ShowData()" class="btn btn-default" accept=".owl" />
            </div>
            <div class="form-group">
                <textarea style="width:100%;height:50vh;font-family:'Microsoft JhengHei UI';resize:none" asp-for="ModelData" id="ModelDataOwl"></textarea>
            </div>
            <div class="form-group">
                <textarea style="width:100%;height:50vh;font-family:'Microsoft JhengHei UI';resize:none" asp-for="DefaultDrawData" id="ModelDefaultData" hidden></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<environment include="Development">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json-formatter/0.7.0/json-formatter.js"></script>
</environment>


