﻿@model DbFirst.Models.Northwind.OwlModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OwlModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelData)
        </dt>
        <dd>
            <textarea readonly style="width:100%;height:50vh;font-family:'Microsoft JhengHei UI';resize:none">@Model.ModelData</textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ModelId" />
        <input type="submit" value="Delete" class="btn btn-default" style="background-color:palevioletred"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
