﻿@model DbFirst.Models.Northwind.OwlModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OwlModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            <a asp-action="Edit" asp-route-id="@Model.ModelId">@Html.DisplayFor(model => model.Name)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelData)
        </dt>
        <dd>
            <textarea readonly style="width:100%;height:50vh;font-family:'Microsoft JhengHei UI';resize:none">@Model.ModelData</textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefaultDrawData)
        </dt>
        <dd>
            <textarea readonly style="width:100%;height:50vh;font-family:'Microsoft JhengHei UI';resize:none">@Model.DefaultDrawData</textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
