﻿@model DbFirst.Models.Northwind.OwlModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>OwlModel</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="width:100%">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ModelId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelData" class="control-label"></label>
                <textarea style="width:100%;height:50vh;font-family:'Microsoft JhengHei UI';resize:none" asp-for="ModelData"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="ModelData" class="control-label"></label>
                <textarea readonly style="width:100%;height:50vh;font-family:'Microsoft JhengHei UI';resize:none" asp-for="DefaultDrawData"></textarea>
            </div>
            @*<div class="form-group">
            <label asp-for="Created" class="control-label"></label>
            <input asp-for="Created" class="form-control" />
            <span asp-validation-for="Created" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastModifed" class="control-label"></label>
            <input asp-for="LastModifed" class="form-control" />
            <span asp-validation-for="LastModifed" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
