﻿@model IEnumerable<DbFirst.Models.Northwind.OwlModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.ModelData)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModifed)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModelId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ModelData)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
